@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background: 0, 0, 0;
  --background-foreground: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-foreground));
  background: rgb(var(--background));
}


input[id='username'],  input[id='password']{
  @apply px-3 py-2 rounded-lg outline-none text-slate-500;
}

button[id='btn-login'] {
  @apply px-8 py-2 bg-indigo-600 text-white rounded-lg shadow-lg mt-5 hover:bg-opacity-80;
}

label {
  @apply text-slate-800;
}